:root {
  --clr-s-yellow: #ebebff;
  --clr-s-violet: #b3ad92;
  --clr-v-dark-cyan: #03444d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: 'Hachi Maru Pop', cursive;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--clr-s-yellow);
  width: 100vw;
  height: 100vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 1rem;
  background-color: var(--clr-s-violet);
}

.cell {
  color: var(--clr-v-dark-cyan);
  background-color: var(--clr-s-yellow);
  height: 100px;
}
