:root {
  --clr-s-yellow: #ebebff;
  --clr-p-yellow: #fffbeb;
  --clr-s-violet: #b3ad92;
  --clr-v-dark-cyan: #03444d;
  --clr-d-blue: #3f3f66;
  --clr-d-magenta: #b381ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--clr-s-yellow);
  width: 100vw;
  height: 100vh;
}

button {
  font-family: 'Montserrat', cursive;
  font-size: 1.2rem;
  color: var(--clr-p-yellow);
  background-color: var(--clr-d-blue);
  padding: 0.5em 5rem;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.top {
  gap: 3rem;
}

:modal {
  background-color: var(--clr-p-yellow);
  border: none;
  border-radius: 1em;
  padding: 1em 2em;
  margin: auto;
}

form {
  flex-direction: column;
  gap: 2em;
}

.name-input {
  flex-direction: column;
  gap: 0.5em;
}

.name-input input {
  font-size: 1.4rem;
  padding: 0.4em;
  border-radius: 0.2em;
  border: 1px solid var(--clr-v-dark-cyan);
}

fieldset {
  justify-content: center;
  border: none;
}

select {
  font-size: 1.4rem;
  padding: 0.4em 1em;
  margin: 1em;
}

.change-btn {
  padding: 0.5em;
}

.game-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 0.5rem;
  background-color: var(--clr-s-violet);
}

.cell {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 3rem;
  color: var(--clr-v-dark-cyan);
  background-color: var(--clr-s-yellow);
  padding: 0.2em 0.2em 0.3em 0.2em;
  cursor: pointer;
  user-select: none;
}

.line {
  position: absolute;
  transition-duration: 500ms;
}

.stretch {
  background-color: var(--clr-d-magenta);
}

.horizontal {
  left: 0;
  right: 100%;
  transition-property: right;
  height: 3px;
}

.horizontal.first-row {
  top: 16.4%;
}

.horizontal.second-row {
  top: 50.5%;
}

.horizontal.third-row {
  bottom: 14.4%;
}

.stretch.horizontal {
  right: 0;
}

.vertical {
  top: 0;
  bottom: 100%;
  transition-property: bottom;
  width: 3px;
}

.vertical.first-row {
  left: 15.5%;
}

.vertical.second-row {
  left: 49.7%;
}

.vertical.third-row {
  right: 15.5%;
}

.stretch.vertical {
  bottom: 0;
}

.diagonal {
  top: 0;
  bottom: 100%;
  width: 4px;
}

.diagonal.first-row {
  left: 0;
  transform: skew(0.805rad);
  transition-property: bottom, left;
}

.diagonal.second-row {
  right: 0;
  transform: skew(-0.805rad);
  transition-property: bottom, right;
}

.stretch.diagonal.diagonal.first-row {
  bottom: 0;
  left: 50%;
}

.stretch.diagonal.diagonal.second-row {
  right: 50%;
  bottom: 0;
}
